<!-- ./templates/components/header.html -->
<header class="site-header">
  <nav class="nav">
    <div class="nav-left">
      <a href="{{ url_for('index') }}" class="logo">LEAM</a>
      <span class="current-page">{{ current_page }}</span>
    </div>

    <ul class="nav-links">
      <li>
        <img src="{{ url_for('static', filename='images/settings.png') }}" alt="Settings Icon" class="nav-icon">
        <a href="{{ url_for('settings') }}">Settings</a>
      </li>
    </ul>
  </nav>
</header>