# Web server
flask
livereload
flask-socketio
eventlet

# Reddit API
praw

# Environment variables
python-dotenv
psutil

# Video generation
moviepy
gTTS

# GPT / LLM Clients
openai
groq

# Google Cloud TTS
google-cloud-texttospeech

# YouTube API + OAuth2
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# YouTube transcript fetcher
youtube-transcript-api

# HTTP helper libraries
requests