<!-- ./templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LEAM{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/toggle_switch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/card_modules.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    {% include "components/utilities/header.html" %}

    {% block content %}
        <div class="modules-container">
            {% for module in modules %}
                {% include "components/utilities/module_card.html" %}
            {% endfor %}
        </div>
    {% endblock %}

    {% include "components/utilities/footer.html" %}

    <!-- JS -->
    <script src="{{ url_for('static', filename='scripts/system_monitor_socket.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>