/* ./static/styles/styles.css */

/* --- General Page Layout --- */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main.module-page {
    flex: 1; /* pushes footer to bottom */
}