<header class="site-header">
    <nav class="nav">
        <div>
            <h1> LEAM </h1>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>

        <ul class="nav-links">
            <li>
                <img src="{{ url_for('static', filename='images/settings.png') }}" alt="Home Icon" class="nav-icon">
                <a href="#">Settings</a>
            </li>
        </ul>
    </nav>
</header>